body {
    background-color: #ecedf1;
}
nav {
opacity: 90%;
font-family: 'Slabo 27px', serif, Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
}
.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background-image: url("Assets/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  .masthead h1 {
    font-family:'Lobster', cursive, Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    line-height: 2.5rem; 
  }

  .masthead h3 {
    font-family: 'Slabo 27px', serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 2.5rem; 
    margin-top: 20px;
  }

  .social-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
   }  

   .social-icons li {
    display: inline-block;
    padding: 10px 30px;
  }
   .fab {
       color :black;
  }
  .about-section {
    padding-top: 10rem;
  }
  .about-section h1 {
        font-family:'Lobster', cursive, Georgia, 'Times New Roman', Times, serif;
        font-size: 3rem;
        line-height: 1.5rem; 
  }

  .about-section p {
    font-family: 'Slabo 27px', serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    line-height: 1.5rem; 
}

    .my-img {
        width: 30%;
        height: auto;
        margin: 20px;
  }

    .img-thumbnail {
        background-color: #cacaca;
  }

  .portfolio-section {
    padding: 10rem 0;
  }
  .portfolio-section .featured-text {
    font-family: 'Fira Sans Condensed', sans-serif,  Georgia, 'Times New Roman', Times, serif;
    padding: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .links-btns ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   }  

   .links-btns li {
    display: inline-block;
  }

  .btn {
    width: 90px;
  }
  .project-text {
    font-family: 'Fira Sans Condensed', sans-serif, Georgia, 'Times New Roman', Times, serif;
    padding: 3rem;
    font-size: 90%;
  }
  .project-text p {
    font-size: 1rem;
  }
  .project-text hr {
    border-color: #a16469;
    border-width: 0.25rem;
    width: 30%;
  }