
nav {
opacity: 90%;
font-family: 'Slabo 27px', serif, Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
}
.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background-image: url("Assets/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  .masthead h1 {
    font-family:'Lobster', cursive, Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    line-height: 2.5rem; 
  }

  .masthead h3 {
    font-family: 'Slabo 27px', serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 2.5rem; 
    margin-top: 20px;
  }
  ul {
    list-style-type: none;
}