.nav-opa {
opacity: 80%;
}
.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background-image: url("Assets/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  .masthead h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    line-height: 2.5rem;
    
  }
